<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tombola</title>
</head>
<body>

  <h1 style="text-align: center;">Gioco della tombola</h1>
  <p>Dimmi un numero: </p>
  <input type="text" [ngModel]="testo"><br><br>
  <button style="background-color: blue;color:white" (click)="onClick()">Estrai</button>
  <h3>Componente cartella</h3>
  <p>Numero arrivato{{testo_casella}}</p>

</body>
</html>